body{
    font-family: sans-serif;
}
nav {
    background-color: rgba(15, 15, 15, .35);
}
label.logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
    margin-top: 20px;
}
nav ul {
    margin-right: 40px;
}
nav li {
    display: inline-block;
    margin: 0 18px;
    line-height: 80px;
    margin-left: 50px;
}

nav a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active, a:hover{
    border: 1px solid white;
    transition: .5s;
}
@media(max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a {
        font-size: 17px;
    }
}
